logging:
  level:
    io.waggle: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG
    root: INFO

spring:
  data:
    redis:
      host: localhost
      password:
      port: 6379

  datasource:
    driver-class-name: org.h2.Driver
    password:
    url: jdbc:h2:mem:waggle
    username: sa

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        format_sql: true
    show-sql: true
